body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail {
  width: 48px;
  height: 48px;
}

.title{
  letter-spacing: -1px;
  line-height: normal;
}
.info {
  font-size: x-small;
  text-align: right;
  
  line-height: normal;
}